{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="content">
    <h2>Register</h2>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}

{% block extrastyle %}
    <style>
        body{

            background-image: url('{{ asset('images/7023263.jpg') }}'), linear-gradient(rgba(255, 255, 255, 08), rgba(255, 255, 255, 0.6)) ;
        }
        footer{
            margin-top: 10vh;
            background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
            border-radius: 4px;
            padding:4px;
        }

    </style>
{% endblock %}
