{% extends 'base.html.twig' %}
{% block body %}
    {% set bucketList = ["bungee jumping","living in Peking, China","horse riding and caravan cruise in Kazakhstan","Hozier's concert","sandboarding","underwater restaurant","visiting Vietnam","visit Turkey's most famous baklava shop","be invited to a big Indian wedding","Visit Egypt", "See northern lights","finish writing my book"]  %}
    {% set imgBucketList=["bungeeJumping","china","horseridingKazakhstan","hozier","sandboarding","underwaterRestaurant","vietnam","baklava","indianWedding","egypt","northernLights","bookwriting"] %}



    <div class="content">
        <h2>Welcome to the bucket list </h2>
        <p>This is a site where people can come to share what they wish to do at least once in their lives!</p>
        <p>Whether it's eating the flakiest, most delicious baklava of Turkey, or conquer you fear of heights by bungee jumping, </p>
        <p>Dream as big as you can, but even small, modest dreams are just as important as the big ones.</p>
        <p>So share them, maybe you can make them come true ! ✨</p>
        <h3>List of things on my bucket list</h3>
        <div class="slideshow-container">

        {%for img in imgBucketList%}
        <div class="mySlides">
            <div class="numbertext">{{loop.index}}</div>
            <img src="{{ asset('images/'~ img ~'.jpg')}}" alt="{{ img }}">
            <div class="text">{{ bucketList[loop.index0] }}</div>
        </div>

        {%endfor%}

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    {% for things in bucketList%}
        <div>{{ loop.index }}: <span>{{ things }}</span></div>
    {% endfor %}
    </div>

    {% endblock %}

{% block extrastyle %}
    <style>
        body{

            background-image: url('{{ asset('images/7023263.jpg') }}'), linear-gradient(rgba(255, 255, 255, 08), rgba(255, 255, 255, 0.6)) ;
        }
        footer{
            margin-top: 10vh;
            background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
            border-radius: 4px;
            padding:4px;
        }
    </style>
{% endblock %}
