<nav class="navbarMenu">
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_aboutUs') }}">About Us</a></li>
        <li><a href="{{ path('wish_list') }}">Wish List</a></li>
        {% if app.user %}
        <li><a href="{{ path('wish_create') }}">Create a new wish</a></li>
        <li><a href="{{ path('app_logout') }}">Logout</a></li>
        <li>Hello, {{ app.user.pseudo }}</li>
        {% else %}
        <li><a href="{{ path('app_login') }}">Login</a></li>
        <li><a href="{{ path('app_register') }}">Register</a></li>

        {% endif %}
    </ul>
</nav>
